@charset "UTF-8";
/* CSS Document */

body{
	background-color: #989898;
}
h1 {
	font-family: Helvetica, sans-serif;
	font-size: x-large;
	font-weight: bold;
	font: 60px 'Helvetica';
	color: #2CE7E7;
	margin-bottom: 0%;
}
p {
	font-family: Georgia, serif;
}
h2{
	font-family: Helvetica, sans-serif;
	color: #FFFFFF;
	line-height: 50px;
	clear: left;
	background-color: #2CE7E7;
	padding-top: 3px;
	padding-bottom: 15px;
	padding-left: 5px;
	height: 35px;
}
h3{
	color: #2CE7E7;
}
h4{
	color: #2CE7E7;
}
.content{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin:0 auto;
  	max-width:750px;
  	min-width:400px;
	line-height: 140%;
}
.nav{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin:0 auto;
  	max-width:750px;
  	min-width:400px;
}
.header{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
  	max-width:750px;
  	min-width:400px;
}
footer{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin:0 auto;
  	max-width:750px;
  	min-width:400px;
}
.center{
	text-align: center;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0 0 20px 0;
	line-height: 50px;
}
nav li{
	float: left;
	margin-right: 20px;
}
a:link{
	text-decoration: none;
	color: #FFFFFF;
}
a:visited{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover{
}
a:active{
}